{
  "extends": [
    "@nuxtjs/eslint-config-typescript",
    "prettier",
    "prettier/vue"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error"
  },
  "overrides": [
    {
      "files": ["demo/pages/**/*.vue", "demo/layouts/**/*.vue"],
      "rules": {
        "vue/multi-word-component-names": "off",
      },
    },
  ],
}
