name: ci

on:
  push:
    branches:
      - master
      - dev
  pull_request:
    branches:
      - master
      - dev

jobs:
  test:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]
        node: [10]

    steps:
      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}

      - name: Install required packages
        run: |
          sudo apt-get update
          sudo apt-get install libgbm-dev
          sudo apt-get install xvfb

      - name: checkout
        uses: actions/checkout@master

      - name: cache node_modules
        uses: actions/cache@v1
        with:
          path: node_modules
          key: ${{ matrix.os }}-node-v${{ matrix.node }}-deps-${{ hashFiles(format('{0}{1}', github.workspace, '/yarn.lock')) }}

      - name: Install dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: yarn

      - name: Lint
        run: yarn lint

      - name: Build Module
        run: yarn build

      - name: Build Fixture
        run: yarn nuxt build test/fixture

      - name: Tests
        run: yarn jest

      # - name: Coverage
      #   uses: codecov/codecov-action@v1

      - name: Publish Next
        run: |
          if [ "$ref" = "refs/heads/dev" ] ; then
            node ./scripts/release-next
          fi
        env:
          ref: ${{ github.ref }}
          NODE_AUTH_TOKEN: ${{secrets.NODE_AUTH_TOKEN}}
